body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.webgl {
  top: 0;
  clear: both;
}

.scenecontainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.xrotation {
  position: fixed;
  top: 30px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.yrotation {
  position: fixed;
  top: 50px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.zrotation {
  position: fixed;
  top: 70px;
  left: 30px;
  margin: 0;
  padding: 0;
}

.xtranslate {
  position: fixed;
  top: 90px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.ytranslate {
  position: fixed;
  top: 110px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.ztranslate {
  position: fixed;
  top: 130px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.fovy {
  position: fixed;
  top: 150px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.near {
  position: fixed;
  top: 170px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.fary {
  position: fixed;
  top: 190px;
  left: 30px;
  margin: 0;
  padding: 0;
}
