<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>Изучение библиотеки three.hs</title>
  </head>
  <body>
  </body>
  <script src={{ app.router.static.url_for(filename='js/vue.js') }} type='text/javascript'></script>
  <script src={{ app.router.static.url_for(filename='js/vuex.js') }}  type='text/javascript'></script>
  <script src={{ app.router.static.url_for(filename='js/three.js') }}  type='text/javascript'></script>
  <script src={{ app.router.static.url_for(filename='js/test.js') }}  type='text/javascript'></script>
</html>
